
/* styles for content section */
.search-content-section {
    height: 100%;
    width: 100%;
    position: absolute; 

    .photo-colletion-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .view-pic-span {
            height: 250px;
            width: 250px;
            margin: 10px 5px;
            border: 1px solid #c3c3c3;
        }
        .view-pic {
            height: 250px;
            width: 250px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

